/*-------------------------------------
4.  Welcome-hero
--------------------------------------*/
.welcome-hero-txt { padding-top: 155px;}

.welcome-hero-txt h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}
.welcome-hero-txt p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
}

.welcome-hero-serch-box{margin-top: 78px;display: flex;}
.welcome-hero-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}
.single-welcome-hero-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}
.single-welcome-hero-form:first-child{border-right: 1px solid #edeff1;}
.single-welcome-hero-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}
.single-welcome-hero-form input[type="text"]{
    font-size: 14px;
    color: #859098;
    text-transform: capitalize;
    font-weight: 500;
}
.welcome-hero-form-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #252d32;
}
.welcome-hero-btn {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  #fff;
    width:  170px;
    height:  70px;
    background:  #ff545a;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.welcome-hero-btn:hover{/*background: #fd4043;*/background: #f43032;}

.welcome-hero-btn svg {
    width:  14px;
    height:  auto;
    margin-left:  12px;
}
.list-topics {
  padding: 100px 0; /* Adjust the padding to match the first section */
  background: #fff; /* Set the background color if necessary */
}

.list-topics-content {
  position: relative;
  top: -140px;
  z-index: 1;
}

.list-topics-content ul li {
  display: inline-block;
}

.single-list-topics-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 205px;
  height: 190px;
  background: #fff;
  border-radius: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0px 10px rgba(71, 71, 71, 0.2);
  transition: 0.3s linear;
}

.single-list-topics-content h2 > a {
  margin: 13px 0;
}

.single-list-topics-icon [class^="flaticon-"]:before,
.single-list-topics-icon [class*=" flaticon-"]:before,
.single-list-topics-icon [class^="flaticon-"]:after,
.single-list-topics-icon [class*=" flaticon-"]:after {
  font-size: 45px;
  color: #343a3f;
}

.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:before,
.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:before,
.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:after,
.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:after {
  color: #fff;
}

.single-list-topics-content:hover h2 > a,
.single-list-topics-content:hover p {
  color: #fff!important;
}

.single-list-topics-content:hover {
  color: #fff;
  background: #ff545a;
  box-shadow: 0 5px 10px rgba(71, 71, 71, 0.4);
}
