{% extends 'basic.html'%}
{% block title %} Монгол хаяг {% endblock title %}

{% block department-single %}
<ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Neurology Clinic</a>
  </li><!-- /.nav-item -->
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Cardiology Clinic</a>
  </li><!-- /.nav-item -->
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Pathology Clinic</a>
  </li><!-- /.nav-item -->
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Laboratory Clinic</a>
  </li><!-- /.nav-item -->
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Pediatric Clinic</a>
  </li><!-- /.nav-item -->
  <li class="nav__item">
    <a href="department-single.html" class="nav__item-link">Cardiac Clinic</a>
  </li><!-- /.nav-item -->
</ul>
{% endblock department-single %}